/* Color classes */

.text-primary {
	color: $ts-green-500 !important;
}

.text-teaching-resource,
.text-resource-pack {
	color: $sea-green-500 !important;
}

.text-plan {
	color: $strong-fuchsia-500 !important;
}

.text-studio {
	color: $vivid-cyan-500 !important;
}

.text-widget {
	color: $cobalt-blue-500 !important;
}

.text-blog {
	color: $moderate-purple-500 !important;
}

.text-adventure {
	color: $vivid-amber-500 !important;
}
