/* Toast ---------------------- */

/* Required variables:
  $base-padding: 0.75rem;
  $border-radius: 4px;
*/

.toast {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: $border-radius;
  bottom: 0;
  color: #fff;
  display: flex;
  line-height: 1;
  min-width: 70%;
  opacity: 0;
  padding: $base-padding;
  position: fixed;
  left: 50%;
  transition: all 0.3s $base-transition;
  transform: translate3d(-50%, 2rem, 0);
  animation-fill-mode: forwards;
  z-index: 1001;

  // Add data-button="undo". Button will get a class matching label
  button {
    background: none;
    border: none;
    color: $cobalt-blue-300;
    margin: -$base-padding;
    margin-left: auto;
    padding: $base-padding/2 $base-padding;
    -webkit-appearance: none;

    &.dismiss {
      font-size: inherit;
      position: static;
    }

    &:hover,
    &:focus {
      color: $cobalt-blue-200;
      background-color: transparent;
    }
  }

  // A green success toast, add data-type="primary"
  &.toast-primary {
    background-color: $ts-green-500;

    button {
      color: $ts-green-100;
    }
  }

  // Pop in from the top, add data-position="top"
  &[data-position='top'] {
    bottom: auto;
    top: 0;

    &.show {
      transform: translate3d(-50%, $base-padding, 0);
    }
  }

  &.show {
    opacity: 1;
    transform: translate3d(-50%, -$base-padding, 0);
  }
}
